body {
    font-family: Arial, sans-serif;
    background: rgb(222, 219, 219);
    background-attachment: fixed;
    background-size: cover;    
    color: rgb(187, 48, 48); 
    text-align: center;
    margin: 0;
    padding: 0;
}


/* encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color:transparent ;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 8px rgba(183, 115, 115, 0.1);
    padding: 15px 0;
}


header.scrolled {
    background-color: #cececef3;
    
}


.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
}

/* barra navegacion */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #272626;
    font-size: 26px;
    padding: 10px;
    display: block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddebe1;
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100vw; 
    height: 98vh; 
    margin-bottom: 45px;
    padding: 100px 0 0 0;
    overflow: hidden;
    background: linear-gradient(#0187b7e8 ), url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .container-fluid {
    padding: 0;
}

.hero .hero-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.hero .hero-image img {
    max-width: 80%;
    max-height: 80%;
}

.hero .hero-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .hero-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.hero .hero-text .typed-text {
    display: none;
}

.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.hero .hero-btn .btn {
    margin-top: 45px;
    color: #0076A1;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.hero .hero-btn .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.hero .hero-btn .btn:first-child {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
    }
    
    .hero .hero-content {
        padding: 0 15px;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text h1 {
        font-size: 45px;
    }
    
    .hero .hero-text h2 {
        font-size: 25px;
        height: 25px;
    }
    
    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text h2 {
        font-size: 22px;
        height: 22px;
    }
    
    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text p {
        font-size: 16px;
    }
    
    .hero .hero-text h1 {
        font-size: 30px;
    }
    
    .hero .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
    
    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
    }
}


/* boton contacto */
.contact-button {
    background-color: #73B9FF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #42a8ba;
}


@media (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    .contact-button {
        padding: 8px 12px;
        font-size: 16px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




/* Acerca de m칤 */
#acerca {
    padding: 80px 20px;
    color: #fff;
    text-align: center;
    background: linear-gradient(135deg, #2c3e50, #34495e);
}

#acerca h1 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    color: #08dcff;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.acerca-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: rgba(48, 65, 104, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.acerca-content:hover {
    transform: scale(1.02);
}


.acerca-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acerca-image img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #08dcff;
    transition: transform 0.3s ease;
}

.acerca-image img:hover {
    transform: rotate(5deg) scale(1.05);
}

/* Texto */
.acerca-text {
    flex: 1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.acerca-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}


.download-cv {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    display: block;  
    padding: 15px 20px;
    background-color: #73B9FF;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 auto;    
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.download-cv:hover {
    background-color: #08dcff;
    transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
    .acerca-content {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .acerca-text {
        text-align: center;
    }

    .acerca-image img {
        width: 200px;
        height: 200px;
    }
}

/* Secci칩n de habilidades */
.skills-section {
    margin-top: 40px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.skill h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


.progress-bar {
    height: 12px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #08dcff;
    border-radius: 5px;
    width: 0%;
    animation: fillProgress 2s ease-out forwards;
}


@keyframes fillProgress {
    from {
        width: 0%;
    }
    to {
        width: var(--progress-width);
    }
}


@media (max-width: 768px) {
    .acerca-content {
        flex-direction: column;
        gap: 20px;
    }

    .acerca-image img {
        width: 250px;
        height: 250px;
    }

    .skills-container {
        justify-content: center;
    }
}

.container_proyecto {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: rgba(48, 65, 104, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#Proyecto {
    width: 400px; /* Aumenta el ancho */
    height: 500px; /* Aumenta la altura */
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.proyecto img {
    width: 100%;  /* Imagen ocupa el ancho completo */
    height: 250px; /* Ajusta la altura */
    object-fit: cover; /* Evita que se deforme */
    border-radius: 10px;
}

.proyecto h3 {
    font-size: 22px;
    margin-top: 15px;
}

.proyecto p {
    font-size: 18px;
    margin: 10px 0;
}

.proyecto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #657580;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.proyecto:hover {
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

/* Estilos para el bot칩n flotante */
.lang-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 140px; /* 游댳 Fija un ancho estable para evitar encogimiento */
    text-align: center;
    white-space: nowrap; /* 游댳 Evita que el texto se divida en varias l칤neas */
}

.lang-btn:hover {
    background-color: #68798b;
}

/* Contenedor de cada proyecto */
.contenedorproyect {
    background-color: #6f808a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px; /* Ajusta el tama침o m치ximo */
}
